# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# misc
*.tsbuildinfo
.DS_Store
*.pem

# local env files
.env
.env*.local

# API keys
src/constants/apiKeys.ts

# local Claude preferences
.claude/settings.local.json

# designs
ux/
